<!DOCTYPE html>
<html>

<head>
    <title>意見領袖挖掘模組</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./../static/css/kol.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../static/js/config.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript" src="./../static/js/is_login.js"></script>
</head>

<body>
    <!-- nav -->
    <nav class="navbar smart-scroll">
        <div class="nav_container">
            <div class="logo_container" onclick="location.href='index.html'">
                <div class="logo_img"></div>
                <div class="logo_text">
                    <p>圖靈洞察</p>
                    <p>Turing Insight</p>
                </div>
            </div>
            <!-- rwd -->
            <!-- <div class="burger"> -->
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
            <!-- </div> -->
            <div class="nav_list">
                <ul>
                    <li><a>選擇模組 ↓ </a>
                        <div class="dropdown">
                            <div><a href="index.html">熱度趨勢分析</a></div>
                            <div class="active"><a href="kol.html">意見領袖挖掘</a></div>
                            <div><a href="outline.html">消費者輪廓</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu_list">
            <ul>
                <li><a href="#product">Product</a></li>
                <li><a href="#research_project">Research Project</a></li>
                <li><a href="#honors_and_awards">Honor & Award</a></li>
                <li><a href="#team">Team</a></li>
                <li class="ins_icon" onclick="window.open('https://www.instagram.com/turing_insight_lab/')">
                    <div class="ins_icon_black"></div>
                </li>
            </ul>
        </div>
        <div class="nav_list profile_list" style="width: 15%;">
            <ul>
                <li>
                    <a>
                        <!-- <img class="profile_img" src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg"> -->
                        <div class="user_info"></div>
                    </a>
                    <div class="dropdown dropdown2">
                        <div class="logout">登出</div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container nav"></div>
    <div class="container header">
        <div class="select_container">
            <div class="select_text">請選擇酒種:</div>
            <select class="select">
                <option>葡萄酒</option>
                <option>威士忌</option>
                <option>伏特加</option>
                <option>啤酒</option>
                <option>清酒</option>
            </select>
        </div>
        <div class="search_container" style="display: none">
            <div class="input-field">
                <input type="" placeholder="Search" />
            </div>
            <input type="submit" value="Search" class="btn solid" />
        </div>
    </div>
    <div class="card_container" style="display: none">
        <!-- <div class="card_container" style=""> -->
        <div class="user_img_container">
            <div class="img"></div>
        </div>
        <div class="user_name">user ?</div>
        <div class="user_ratio">
            <table>
                <colgroup span="2"></colgroup>
                <tr>
                    <th>
                        <p>觸及</p>
                        <p>分數</p>
                    </th>
                    <th>
                        <p>影響</p>
                        <p>分數</p>
                    </th>
                </tr>
                <tr>
                    <td>S</td>
                    <td>A</td>
                </tr>
                <tr>
                    <th>
                        <p>活躍</p>
                        <p>分數</p>
                    </th>
                    <th>
                        <p>綜合</p>
                        <p>分數</p>
                    </th>
                </tr>
                <tr>
                    <td>B</td>
                    <td>A</td>
                </tr>
            </table>
        </div>
        <div class="user_chart1">
            <div class="chart_container">
                <div id="main_test" style="height: 100%;"></div>
            </div>
        </div>
        <div class="user_chart2">
            <div class="chart_container">
                <div id="main_test2" style="height: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="result_wrapper"></div>
    <script src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js'></script>
    <script type="text/javascript" src="./../static/js/logout.js"></script>
    <script type="text/javascript" src="./../static/js/kol.js"></script>
    <script src="./../static/js/status.js" type="text/javascript"></script>
</body>

</html>