*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	position: fixed;
	height: 60px;
	min-height: 50px;
	width: 100%;
	background-color: #000000cf;
	color: #fff;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	z-index: 99;
}
nav .nav_logo_container{
	margin: 0 20px;
	display: flex;
}

nav .nav_container{
	display: flex;
	justify-content: space-between;
	width: 80vw;
}

nav .nav_logo{
	margin: 10px 10px;
	background-image: url('./../img/first.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40px;
	width: 40px;
}
nav .logo_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 
nav .logo_text p{
	font-size: 20px;
}
nav .nav_logo a{
	/*color: white;*/
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

nav .nav_list{
	width: 15%;
	/*margin: 0 30px;*/
	max-width: 600px;
}
nav .menu_list{
	display: none
}
nav .nav_list ul{
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/
}
nav .nav_list ul li{
	list-style: none;
	width: 140px;
	text-align: center;
	height: 60px;
	padding-top: 6px;
}
nav .nav_list ul li a {
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 13px;
	/*color: rgba(0,0,0,0.8);*/
	color: #fff;
	text-transform: uppercase;
}

.nav_logo_container{
	height: 60px;
}
.dropdown{
	/*height: 0;*/
	width: 145px;
	margin-top: 10px;
	border: 1px solid #000;
	display: none
}
.dropdown div{
	border-bottom: 1px solid #000;
	line-height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,.75);
	font-size: 12px;
}
.dropdown div:hover{
	background-color: rgba(0,0,0,.5);
	color: #000;
   	transition: all 0.3s ease-in-out;
}
.dropdown div a{
	letter-spacing: 1px !important;
}
.dropdown div:nth-child(4){
	border-bottom: 0px
}
ul li{
	cursor: pointer;
}
ul li:hover div.dropdown{
	display: block;
}
.burger{
	display: none;
	cursor: pointer;
	margin: 0 30px;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: gray;
	margin: 5px;
}
.card_container{
	height: 100vh;
	min-height: 600px;
	background-color: #fafafa;
}
.ins_icon{
	position: relative;
	height: 33px;
	width: 32px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ins_icon i{
	position: absolute;
	left: 2px;
	width: 31px;
	height: 31px;
}
.ins_icon_black{
	background-image: url('./../img/instagram.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
}
.profile_container {
  	width: 20vw;
    height: 60px;
  /*background-color: black;*/
}

.profile_container img {
  width: 35px;
  border-radius: 50px;
  float: left;
}

.profile_container .logout {
  font-size: .5em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile_container .button {
	text-decoration: none;
	float: right;
	padding: 12px;
	/*margin: 0 15px;*/
	margin-right: 2vw;
	color: white;
	width: 60px;
	/*background-color: black;*/
	transition: width .5s;
	-webkit-transition: width .5s;
	/*overflow: hidden*/
	display: flex;
	align-self: center;
	/*justify-content: center;*/
    
}

.profile_container a:hover {
  width: 180px;
}

.profile_container a:hover .logout{
  opacity: .9;
}

.profile_container a {
  text-decoration: none;
}
.main_container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.bg{
	position: absolute;
	background-image: url(./../img/tools.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: inherit;
	height: inherit;
	filter: opacity(0.4);
/*	height: 35vh;
	width: 35vw;*/
	/*margin: 0 auto;*/
}

.container{
	/*height: 70vh;*/
	/*height: 40vh;*/
	width: 70%;
	position: absolute;
	/*background-color: lightgray*/
}
.logo_container{
	display: flex;
	margin: 10px;
	cursor: pointer;
}
.logo_img{
	margin: 0 10px;
	background-image: url(./../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 50px;
	width: 50px;
	align-self: center;
}
.logo_text{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
.main_container .logo_img{
	background-image: url(./../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 350px;
	width: 350px;
	margin: 0 auto;
  	animation-name: floating; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 30px); } 
    100%   { transform: translate(0, -0px); }     
} 
.main_container .coming_text{
	font-size: 2.5rem;
	letter-spacing: .5rem;
	margin: 0 auto;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	width: 100%;
	margin-top: 5vh;
}
.main_container .coming_img{
	background-image: url(./../img/construct.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 35vh;
	width: 35vw;
	margin: 0 auto;
}












