* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.middle{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	height: 100vh;
	min-height: 600px;
	width: 100%;
	flex-direction: column;
}
.logo-container{
	height: 300px;
	width: 300px;
	/*margin-bottom: 50px;*/
	background-image: url('./../img/logo.png');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: floating; 
	animation-duration: 6s; 
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out; 
}
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 30px); } 
    100%   { transform: translate(0, -0px); }     
}
.forms-container{
	height: 350px;
	width: 70vw;
	max-width: 400px;
	/*background-color: #000;*/
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}
.hint{
	margin: 4% 0;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  margin: 3% auto;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  /*transition: 0.5s;*/
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}
.submit-container{
	height: 50px;
	width: 100%;
	margin: 20px 0;
}
.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  margin: 0 auto;
  /*transition: 0.5s;*/
}

.btn:hover {
  background-color: #4d84e2;
}

@media (max-width: 570px) {
	.title{
		font-size: 1.8rem;
	}
	.hint{
		font-size: .8rem;
	}
}