@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	/*background-color: #000;*/
  font-family: 'Noto Sans TC', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    /*-webkit-text-fill-color: #D8CB86;*/
    -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.container{
	width: 100%;
	height: 100vh;
	min-height: 600px;
	color: #fff;
	background-color: transparent;
}
.container_bg{
	/*background-color: #000;*/
	position: fixed;
	z-index: -1;
}
.wrapper{
	height: 100vh;
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_container{
	height: 80vh;
	min-height: 400px;
	max-width: 800px;
	width: 75%;
	background: rgb(212 212 212 / 60%);
	box-shadow: 11px 8px 20px 3px #7a7a7a;
	border-radius: 20px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
}

.form_container{
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo_container{
	grid-column-start: 4;
	grid-column-end: 7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo_png{
  background-image: url('./../img/logo.png');
  background-size: 80%;
  background-position: left;
  background-repeat: no-repeat;
  height: 35vw;
  width: 100%;
  max-width: 300px;
  animation-name: floating; 
  animation-duration: 6s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
}
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 30px); } 
    100%   { transform: translate(0, -0px); }     
}

.signin-signup {
/*  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 38%;*/
  width: 100%;
  /*transition: 1s 0.7s ease-in-out;*/
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 5rem;
  /*transition: all 0.2s 0.7s;*/
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 285px;
  width: 70%;
  /*background-color: #f0f0f0;*/
  margin: 10px 0;
  height: 45px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field-signup {
  margin-top: 0
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  /*transition: 0.5s;*/
  font-size: 1.1rem;
}

.input-field input {
  font-family: 'Noto Sans TC', sans-serif;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid;
  height: 40px;
  padding-top: 10px;
  transition: all ease-in-out .1s;
}
.input-field input:focus {
	border-bottom: 2px solid;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  /*transition: 0.3s;*/
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  font-family: 'Noto Sans TC', sans-serif;
	width: 100px;
	background-color: #5995fd;
	border: none;
	outline: none;
	height: 35px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 20px;
	cursor: pointer;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.submit_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0;
}
.submit_container a{
	text-decoration: none;
	color: #000;
}

.submit_container a:hover{
	color: #5995fd;
}

.signup_container,.signin_container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5rem;
}

.signup_container button{
  margin-left: 0; 
  background-color: #1ee372
}


.signup_submit input{
 background-color: #1ee372
}

.signup_submit input:hover,.signup_container button:hover{
 background-color: #24c167
}













