*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	position: fixed;
	height: 60px;
	min-height: 50px;
	width: 100%;
	background-color: #000000cf;
	color: #fff;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	z-index: 99;
}
/*nav{
	position: fixed;
	width: 100%;
	min-height: 50px;
	height: 60px;
	min-height: 60px;
	background-color: #053740;
	background-color: rgb(68 68 68 / 50%);
	z-index: 99;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,.2);
	color: #fff;
}*/
nav .nav_logo_container{
	margin: 0 20px;
	display: flex;
}

nav .nav_container{
	display: flex;
	justify-content: space-between;
	width: 80vw;
}

nav .nav_logo{
	margin: 10px 10px;
	background-image: url('./../img/first.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 40px;
	width: 40px;
}
nav .logo_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
} 
nav .logo_text p{
	font-size: 20px;
}
nav .nav_logo a{
	/*color: white;*/
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}
/*nav .nav_logo a i{
	color: #25bad0;
	margin: 0 5px;
}*/
nav .nav_list{
	width: 15%;
	/*margin: 0 30px;*/
	max-width: 600px;
}
nav .menu_list{
	display: none
}
nav .nav_list ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .nav_list ul li{
	list-style: none;
	width: 140px;
	text-align: center;
}
nav .nav_list ul li a {
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 13px;
	/*color: rgba(0,0,0,0.8);*/
	color: #fff;
	text-transform: uppercase;
}
.burger{
	display: none;
	cursor: pointer;
	margin: 0 30px;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: gray;
	margin: 5px;
}
.card_container{
	height: 100vh;
	min-height: 600px;
	background-color: #fafafa;
}
.ins_icon{
	position: relative;
	height: 33px;
	width: 32px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ins_icon i{
	position: absolute;
	left: 2px;
	width: 31px;
	height: 31px;
}
.ins_icon_black{
	background-image: url('./../img/instagram.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
}
.profile_container {
  	width: 20vw;
    height: 60px;
  /*background-color: black;*/
}

.profile_container img {
  width: 35px;
  border-radius: 50px;
  float: left;
}

.profile_container .logout {
  font-size: .5em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile_container .button {
	text-decoration: none;
	float: right;
	padding: 12px;
	/*margin: 0 15px;*/
	margin-right: 2vw;
	color: white;
	width: 60px;
	/*background-color: black;*/
	transition: width .5s;
	-webkit-transition: width .5s;
	/*overflow: hidden*/
	display: flex;
	align-self: center;
	/*justify-content: center;*/
    
}

.profile_container a:hover {
  width: 180px;
}

.profile_container a:hover .logout{
  opacity: .9;
}

.profile_container a {
  text-decoration: none;
}
.main_container{
	width: 100%;
	height: 100vh;
	/*background-color: #7e7d8182;*/
	background-color: #fff;
	font-weight: bold;
	font-size: 24px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	/*grid-template-columns: repeat(3,fr)*/
	grid-template-rows: 50px 50px 1fr 1fr 1fr;
	/*padding: 10px 0px 0px 0px;*/
	padding: 10px;
	gap: 10px;
	min-height: 700px;
}
.container{
	padding-bottom : 10px;
	/*border-bottom: 1px solid black*/
	border-radius: 15px;
}
.nav{
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}
	nav .nav_list{
		width: 15%;
		/*margin: 0 30px;*/
		max-width: 600px;
	}
	nav .menu_list{
		display: none
	}
	nav .nav_list ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav .nav_list ul li{
		list-style: none;
		width: 140px;
		text-align: center;
		height: 60px;
		padding-top: 6px;
	}
	nav .nav_list ul li a {
		text-decoration: none;
		letter-spacing: 2px;
		font-weight: normal;
		font-size: 13px;
		/*color: rgba(0,0,0,0.8);*/
		color: #fff;
		text-transform: uppercase;
	}
	nav .nav_list {
		/*margin-top: 22px;*/
	}
	nav .nav_list ul{
		align-items: unset;
	}
	.nav_logo_container{
		height: 60px;
	}
	.dropdown{
		/*height: 0;*/
		width: 145px;
		margin-top: 10px;
		border: 1px solid #000;
		display: none
	}
	.dropdown div{
		border-bottom: 1px solid #000;
		line-height: 40px;
		text-align: center;
		background-color: rgba(0,0,0,.75);
		font-size: 12px;
	}
	.dropdown div:hover{
		background-color: rgba(0,0,0,.5);
		color: #000;
	   	transition: all 0.3s ease-in-out;
	}
	.dropdown div a{
		letter-spacing: 1px !important;
	}
	.dropdown div:nth-child(4){
		border-bottom: 0px
	}
	ul li{
		cursor: pointer;
	}
	ul li:hover div.dropdown{
		display: block;
	}
.header{
	grid-column-start: 1;
	grid-column-end: 6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 0 !important;
}
.Content{
	box-shadow: 3px 3px 9px 0px black;
	background-color: #ebebeb;
}
.main_container .Content:nth-child(3){
	/*background-color: lightgreen;*/
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
}
.main_container .Content:nth-child(4){
	/*background-color: lightblue;*/
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;

}
.main_container .Content:nth-child(5){
	/*background-color: orange;*/
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 3;
	grid-column-end: 6;
}
/*		.main_container .Content:nth-child(6){
	background-color: lightyellow
}*/
.main_container .Content:nth-child(6){
	/*background-color: pink;*/
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 6;
}
.Footer{
	background-color: black;
	color: white;
	grid-column-start: 1;
	grid-column-end: 5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.g_title{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.graph1{
	width: 90%;
	height: 32vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 10px auto;
}
.graph2{
	/*width: 90%;*/
	height: 32vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	/*margin: 10px auto;*/
}
.graph3{
	width: 90%;
	height: 27vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 0px auto;
	margin-top: 2vh;
}
.graph5{
	width: 90%;
	height: 30vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 10px auto;
	margin-top: -4vh;
}
.card2_graph1{
	width: 90%;
	height: 40vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 10px auto;
}
.card2_graph2{
	width: 90%;
	height: 30vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 10px auto;
	margin-top: -3vh;
}
.card2_graph3{
	width: 90%;
	height: 70vh;
	/*background-color: #fff;*/
	/*margin-top: 30px;*/
	margin: 10px auto;
}
#main{
	height: 100%;
	width: 100%
}
#main2{
	height: 100%;
	width: 100%
}
#main3{
	height: 100%;
	width: 100%
}
#main4{
	height: 100%;
	width: 100%
}
#main5{
	height: 100%;
	width: 100%;
	/*margin-top: -7vh;*/
}
#card2_main1{
	height: 100%;
	width: 100%;
	/*margin-top: -7vh;*/
}
#card2_main3{
	height: 100%;
	width: 100%;
	/*margin-top: -7vh;*/
}
#card2_main2{
	height: 100%;
	width: 100%;
	/*margin-top: -7vh;*/
}
/*section2*/
.main_container2{
	width: 100%;
	height: calc(100vh - 60px - 10px);
	min-height: 600px;
	background-color: #fff;
	font-weight: bold;
	font-size: 24px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	/*grid-template-columns: repeat(3,fr)*/
	grid-template-rows: repeat(5,1fr);
	/*padding: 10px 0px 0px 0px;*/
	padding: 10px;
	padding-top: 0;
	gap: 10px;
}
.container{
	padding-bottom : 10px;
	/*border-bottom: 1px solid black*/
	border-radius: 15px;
}
.main_container2 .Content:nth-child(1){
	/*background-color: #ebaceb;*/
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}
.main_container2 .Content:nth-child(2){
	/*background-color: #ebbeae;*/
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 6;

}
.main_container2 .Content:nth-child(3){
	/*background-color: #caf7f3;*/
	grid-row-start: 3;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;
}
/*		.main_container2 .Content:nth-child(4){
	background-color: ;
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start: 3;
	grid-column-end: 6;

}*/
.select_container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40vw;
	display: none
}
.select_text{
	margin: 10px;
}
.select_container select{
	height: 30px;
	width: 125px;
	border-radius: 5px;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px;
  height: 30px;
  border-radius: 55px;
/*		  display: grid;
  grid-template-columns: 15% 85%;*/
  padding: 0 0.8rem;
  position: relative;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.btn {
  width: 90px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  font-size: 0.5rem
  /*transition: 0.5s;*/
}

.btn:hover {
  background-color: #4d84e2;
}
.search_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50vw;
	max-width: 450px;

}
.logo_container{
	display: flex;
	margin: 10px; 
}
.logo_img{
	margin: 0 10px;
	background-image: url(./../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 50px;
	width: 50px;
	align-self: center;
}
.logo_text{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
@media (max-width: 768px) {
	.logo_text{
		font-size: 14px;
	}
	.main_container{
		height: unset;
		background-color: #7e7d8182;
		font-weight: bold;
		font-size: 14px;
		display: block;
		grid-template-columns: unset;
		/*grid-template-columns: repeat(3,fr)*/
		grid-template-rows: unset;
		/*padding: 10px 0px 0px 0px;*/
		min-height: 700px;
	}
	.nav{
		grid-column-start: unset;
		grid-column-end: unset;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
	}
	.header{
		grid-column-start: unset;
		grid-column-end: unset;
		flex-direction: column;
		padding-top: 2vw;
		padding-bottom: 2vw !important
		/*height: 60px;*/
	}
	.g_title{
		height: 10vw;
		font-size: 1.5rem;
	}
	.main_container .Content:nth-child(3){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;
	}
	.main_container .Content:nth-child(4){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;

	}
	.main_container .Content:nth-child(5){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;
	}
	/*		.main_container .Content:nth-child(6){
		background-color: lightyellow
	}*/
	.main_container .Content:nth-child(6){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;
	}
	.graph_container{
		height: calc(100vh - 150px);
		min-height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.graph1{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}

	.graph2{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		/*margin: 10px auto;*/
	}
	.graph3{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.graph5{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.card2_graph1{
		width: 90%;
		height: 50vh;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.card2_graph2{
		width: 90%;
		height: 50vh;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
		margin-top: -3vh;
	}
	.card2_graph3{
		width: 90%;
		height: 70vh;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.select_container {
	    width: 100%;
	}
	.search_container {
	    width: 100%;
	}
	.main_container2{
		height: unset;
		background-color: #7e7d8182;
		font-weight: bold;
		font-size: 14px;
		display: block;
		grid-template-columns: unset;
		/*grid-template-columns: repeat(3,fr)*/
		grid-template-rows: unset;
		/*padding: 10px 0px 0px 0px;*/
		min-height: 700px;
	}
	.main_container2 .Content:nth-child(1){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;
	}
	.main_container2 .Content:nth-child(2){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;

	}
	.main_container2 .Content:nth-child(3){
		height: calc(100vh - 80px);
		min-height: 400px;
		grid-row-start: unset;
		grid-row-end: unset;
		grid-column-start: unset;
		grid-column-end: unset;
		padding-top: 5vw;
		margin-bottom: 10px;
	}
	.card2_graph1{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.card2_graph2{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}
	.card2_graph3{
		width: 90%;
		height: 70%;
		/*background-color: #fff;*/
		/*margin-top: 30px;*/
		margin: 10px auto;
	}

}

