<!DOCTYPE html>
<html>
<head>
	<title>coming soon</title>
	<link rel="stylesheet" type="text/css" href="./../static/css/coming-soon.css">
</head>
<body>
	<!-- nav -->
	<nav class="navbar smart-scroll">
		<div class="nav_container">
			<div class="logo_container" onclick="location.href='index.html'">
				<div class="logo_img"></div>
				<div class="logo_text">
					<p>圖靈洞察</p>
					<p>Turing Insight</p>
				</div>
			</div>
			<!-- rwd -->
			<!-- <div class="burger"> -->
				<div class="menu-btn">
				  <div class="menu-btn__burger"></div>
				</div>
			<!-- </div> -->
			<div class="nav_list">
				<ul>
					<li><a>選擇模組 ↓ </a>
						<div class="dropdown">
							<div class="active">
								<a href="index.html">熱度趨勢分析</a>
							</div>
							<div><a href="coming-soon.html">意見領袖挖掘</a></div>
							<div><a href="coming-soon.html">消費者輪廓</a></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu_list">
			<ul>
				<li><a href="#product">Product</a></li>
				<li><a href="#research_project">Research Project</a></li>
				<li><a href="#honors_and_awards">Honor & Award</a></li>
				<li><a href="#team">Team</a></li>
				<li class="ins_icon" onclick="window.open('https://www.instagram.com/turing_insight_lab/')">
					<div class="ins_icon_black"></div>
				</li>
			</ul>
		</div>
		<div class="profile_container">
			<a class="button" href="#">
		  		<img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
		  		<div class="logout">LOGOUT</div>
			</a>
		</div>
	</nav>
	<section class="main_container">
		<div class="bg"></div>
		<div class="container">
			<div class="logo_img"></div>
			<div class="coming_text">COMING SOON~</div>
		</div>
	</section>
</body>
</html>