<!DOCTYPE html>
<html>
<head>
	<title>關鍵字熱度模組</title>
	<meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
	<link rel="stylesheet" type="text/css" href="./../static/css/main.css">
</head>
<body>
	<!-- nav -->
	<nav class="navbar smart-scroll">
		<div class="nav_container">
			<div class="logo_container">
				<div class="logo_img"></div>
				<div class="logo_text">
					<p>圖靈洞察</p>
					<p>Turing Insight</p>
				</div>
			</div>
			<!-- rwd -->
			<!-- <div class="burger"> -->
				<div class="menu-btn">
				  <div class="menu-btn__burger"></div>
				</div>
			<!-- </div> -->
			<div class="nav_list">
				<ul>
					<li><a>選擇模組 ↓ </a>
						<div class="dropdown">
							<div class="active"><a href="index.html">熱度趨勢分析</a></div>
							<div><a href="kol.html">意見領袖挖掘</a></div>
							<div><a href="outline.html">消費者輪廓</a></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu_list">
			<ul>
				<li><a href="#product">Product</a></li>
				<li><a href="#research_project">Research Project</a></li>
				<li><a href="#honors_and_awards">Honor & Award</a></li>
				<li><a href="#team">Team</a></li>
				<li class="ins_icon" onclick="window.open('https://www.instagram.com/turing_insight_lab/')">
					<div class="ins_icon_black"></div>
				</li>
			</ul>
		</div>
		<div class="profile_container">
			<a class="button" href="#">
		  		<img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
		  		<div class="logout">LOGOUT</div>
			</a>
		</div>
	</nav>
	<div class="main_container">
		<div class="container nav"></div>
		<div class="container header">
	        <div class="select_container">
	            <div class="select_text">請選擇酒種:</div>
	            <select class="select">
	                <option value="威士忌">威士忌</option>
	                <option value="葡萄酒">葡萄酒</option>
	                <option value="伏特加">伏特加</option>
	                <option value="啤酒">啤酒</option>
	                <option value="清酒">清酒</option>
	            </select>
	        </div>
			<div class="search_container">
				<div class="input-field">
				    <input type="" placeholder="Search" />
				</div>
				<input type="submit" value="Search" class="btn solid" />
			</div>
		</div>
		<div class="container Content">
			<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
			<!-- <div id="main" style="width: 100%;height:400px;"></div> -->
			<div class="g_title">關鍵字頻率分析</div>
			<div class="graph_container graph1_container">
				<div class="g_select_container">
					<select class="g1_select">
					    <option value="日">日</option>
					    <option value="週">週</option>
					    <option value="月">月</option>
					</select>
				</div>
				<div class="graph1">
					<div id="main1" style="height: 100%"></div>
				</div>
			</div>
		</div>
		<div class="container Content">
			<div class="g_title">文章情緒趨勢</div>
			<div class="graph_container graph2_container">
				<div class="g_select_container">
					<select class="g2_select">
					    <option value="日">日</option>
					    <option value="週">週</option>
					    <option value="月">月</option>
					</select>
				</div>
				<div class="graph2">
					<div id="main2" style="height: 100%"></div>
				</div>
			</div>
		</div>
		<div class="container Content">
			<div class="g_title">酒類評論情緒比例</div>
			<div class="graph_container graph3_container">
				<div class="g_select_container">
					<select class="g3_select">
					    <option value="week">週</option>
					    <option value="month">月</option>
					    <option value="half_year">半年</option>
					</select>
				</div>
				<div class="graph3">
					<div id="main3_1" style="height: 100%"></div>
				</div>
				<div class="graph3">
					<div id="main3_2" style="height: 100%"></div>
				</div>
				<div class="graph3">
					<div id="main3_3" style="height: 100%"></div>
				</div>
			</div>
		</div>
		<div class="container Content">
			<div class="g_title">關鍵字頻率文字雲</div>
			<div class="graph_container graph4_container">
				<div class="g_select_container">
					<select class="g4_select">
					    <option value="week1">week1</option>
					    <option value="week2">week2</option>
					</select>
					<select class="g4_2_select">
					    <option value="ptt">ptt</option>
					    <option value="fb">facebook</option>
					</select>
				</div>
				<div class="graph4">
					<div id="main4" style="height: 100%"></div>
				</div>
			</div>
		</div>
		<!-- <div class="container Content"></div> -->
		<!-- <div class="container Footer">Footer</div> -->
	</div>
	<div class="main_container2">
		<div class="container Content">
			<div class="g_title">文章提及關鍵字趨勢</div>
			<div class="graph_container graph5_container">
				<div class="g_select_container">
					<select class="g5_select">
					    <option value="日">日</option>
					    <option value="週">週</option>
					    <option value="月">月</option>
					</select>
				</div>
				<div class="graph5">
					<div id="main5" style="height: 100%"></div>
					<!-- <div id="main4" style="height: 100%"></div> -->
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	<script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
	<script src="./../static/js/echarts-wordcloud/dist/echarts-wordcloud.js" type="text/javascript"></script>
	<!-- wordcloud chart -->
	<script src="./../static/js/echarts-charts/wordcloud-chart.js" type="text/javascript"></script>
	<script src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js'></script>

	<script src="./../static/js/index2.js" type="text/javascript"></script>
	<script src="./../static/js/index2_1.js" type="text/javascript"></script>
	<script src="./../static/js/index2_2.js" type="text/javascript"></script>
	<script src="./../static/js/index2_3.js" type="text/javascript"></script>

</body>
</html>
