<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="./../static/css/product-page.css">
</head>
<body>
<nav>
	<div class="logo_container">
		<div class="logo_img"></div>
		<div class="logo_text">
			<p>圖靈洞察</p>
			<p>Turing Insight</p>
		</div>
	</div>
</div>
</nav>
<section class="wrapper landing_page"></section>
<div class="landing_container">
	<p class="product_title">SiMi社群洞察平台</p>
	<p class="product_des">
		SiMi社群洞察平台提供三大服務，以人工智慧、機器學習技術為基礎，透過數據抓取清晰掌握市場脈動，成為社群精準行銷最佳利器，簡單介面輕鬆上手，協助顧客找到對的目標客群，透過數據的幫助，讓你永遠跟上市場腳步，走在市場行業的前端，做到精準行銷。
	</p>
	<a class="learn_more_link" href="#card2"><div class="learn_more_btn btn">LEARN MORE</div></a>
	<div class="landing_page_img"></div>
</div>
<section class="wrapper" id="card2">
	<div class="owl-wrapper">
		<div class="owl-carousel owl-theme">
			<div class="container card1">
				<div class="info_container">
					<div class="title">熱度趨勢分析</div>
					<div class="title_des">
						了解特定行銷關鍵字在過去時間的熱門程度成長狀況，並預測未來時斷的熱門狀況，藉以輔助行銷用字與行銷策略的商業行為。透過資料科學抓取大數據，即時性的挖掘行業前沿的最新資料，透過科技事先預測未來趨勢，在系統性風險或是網路輿情發生時更加快速的發掘以及應變！
					</div>
					<div class="btn">立即試用 > </div>
				</div>
				<div class="img_container">
					<div class="img1 img"></div>
				</div>
		  	</div>
		 	<div class="container card2">
		 		<div class="info_container">
		 			<div class="title">意見領袖挖掘</div>
		 			<div class="title_des">
		 				透過社群網路分析與機器學習擷取出主題關鍵字，依據社群使用者互動資料來探勘挖掘出特定關鍵字的意見領袖，找到對的意見領袖達成精準行銷活動。想要增加產品曝光度嗎卻不知道如何曝光嗎？花費大量預算卻找不到適合的產品代言人嗎？意見領袖幫你在網紅崛起的時代找到適合的產品代言人，讓預算花在刀口上，在數位行銷的時代找到對的新型代言人。
		 			</div>
		 			<div class="btn">立即試用 > </div>
		 		</div>
		 		<div class="img_container">
		 			<div class="img2 img"></div>
		 		</div>
		  	</div>
		  	<div class="container card3">
		  		<div class="info_container">
		  			<div class="title">消費者輪廓</div>
		  			<div class="title_des">以社群角度了解行銷產品本身的產業定位及產品優勢，進而抓住消費者的行銷產品消費輪廓以及購買決策點。商品點擊率，查詢熱度高卻沒有銷售量嗎？消費者明明放進購物車卻沒有真正下單嗎？用網路足跡幫你分析問題到底出在哪！</div>
		  			<div class="btn">立即試用 > </div>
		  		</div>
		  		<div class="img_container">
		  			<div class="img3 img"></div>
		  		</div>
		  	</div>
		</div>
	</div>
</section>
<section class="wrapper contact_container">
	<div class="contact_bg"></div>
	<div class="wrap-contact100">
		<div class="contact100-form-title" style="background-image: url(./../static/img/bg-01.jpg);">
			<span class="contact100-form-title-1">
				Contact Us
			</span>

			<span class="contact100-form-title-2">
				Feel free to drop us a line below!
			</span>
		</div>
		<form class="contact100-form validate-form">
			<div class="wrap-input100 validate-input" data-validate="Name is required">
				<span class="label-input100">Full Name:</span>
				<input class="input100" type="text" name="name" placeholder="Enter full name">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
				<span class="label-input100">Email:</span>
				<input class="input100" type="text" name="email" placeholder="Enter email addess">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Phone is required">
				<span class="label-input100">Phone:</span>
				<input class="input100" type="text" name="phone" placeholder="Enter phone number">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Message is required">
				<span class="label-input100">Message:</span>
				<textarea class="input100" name="message" placeholder="Your Comment..."></textarea>
				<span class="focus-input100"></span>
			</div>
			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn">
					<span>
						Submit
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</form>
	</div>
</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script type="text/javascript">
		document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		    anchor.addEventListener('click', function (e) {
		        e.preventDefault();

		        document.querySelector(this.getAttribute('href')).scrollIntoView({
		            behavior: 'smooth'
		        });
		    });
		});

		 // set owl-carousel width equals to owl-wrapper width
		 function owlWrapperWidth( selector ) {
		   $(selector).each(function(){
		     $(this).find('.owl-carousel').outerWidth( $(this).closest( selector ).innerWidth() );
		   });
		 }

		 // trigger on start and resize
		 owlWrapperWidth( '.owl-wrapper' );
		 $( window ).resize(function() {
		   owlWrapperWidth( $('.owl-wrapper') );
		 });

		// then trigger owl Carousel
		$('.owl-carousel').owlCarousel({
		      loop: true,
		      margin: 0,
		      nav: false,
		      autoplay:true,
		      autoplayTimeout:10000,
		      autoplaySpeed:1000,
		      autoplayHoverPause: true,
		      // slideTransition: 'linear',
		      autoplayHoverPause:true,
		      responsive:{
		          0:{
		              items:1
		          },
		          600:{
		              items:1
		          },
		          1000:{
		              items:1
		          }
		      }
		  });


	</script>
</body>
</html>