* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: 'Noto Sans TC', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*-webkit-text-fill-color: #D8CB86;*/
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    background-color: transparent;
}

.container_bg {
    /*background-color: #000;*/
    position: fixed;
    z-index: -1;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint {
    margin: 4% 0;
    text-align: center;
    color: #000;
}

.container {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    flex-direction: column;
}

.logo-container {
    height: 300px;
    width: 300px;
    background-image: url('./../img/logo.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 30px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.forms-container {
    /*height: 350px;*/
    margin-top: 20px;
    width: 70vw;
    max-width: 400px;
    /*background-color: #000;*/
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 350px;
    width: 100%;
    /*background-color: #f0f0f0;*/
    margin: 10px auto;
    height: 45px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding-right: 1.5rem;
    position: relative;
}

.input-field-signup {
    margin-top: 0
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    /*transition: 0.5s;*/
    font-size: 1.1rem;
}

.input-field input {
    font-family: 'Noto Sans TC', sans-serif;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border-bottom: 1px solid;
    height: 40px;
    padding-top: 10px;
    transition: all ease-in-out .1s;
}

.input-field input:focus {
    border-bottom: 2px solid;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.submit-container {
    height: 50px;
    width: 100%;
    margin: 20px 0;
}

.btn {
    width: 100px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    margin: 0 auto;
    /*transition: 0.5s;*/
}

.btn:hover {
    background-color: #4d84e2;
}

@media (max-width: 570px) {
    .title {
        font-size: 1.6rem;
    }
    .hint {
        font-size: .8rem;
    }
}